.h3{
    color: #fff;
    margin-left: 20px;
}
.s1{
    background-color: rgb(21, 21, 255);
    padding: 50px;
}
.nav-link{
    margin-left: 50px;
    color: rgb(180, 174, 174) !important;
}
header i{
    color: #fff;
}
.btn1{
    background-color: #fff;
    color: rgb(21, 21, 255);
    outline: none;
    border: none;
    border-radius: 5px;
}
.buttons{
    display: flex;
}
.btn2{
    background-color: #fff;
    color: rgb(21, 21, 255);
    outline: none;
    border: none;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
.btn3{
    background-color: rgb(21, 21, 255);
    color: #fff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn4{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn4{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btns{
    background-color: rgb(243, 236, 236);
    padding: 20px;
    border-radius: 5px;
}
.s2{
    margin-top: 50px;
}
.img1{
    width: 100%;
}